body {
    font-family: Arial, sans-serif;
    padding: 20px;
    padding-left: 600px;
    padding-top: 300px;
}

h2 {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="number"] {
    width: auto;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 3px solid #ccc;
    border-radius: 4px;
    
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #45a049;
}

.Annuler:hover {
    background-color: #c9442c;
}